body{
	padding: 0;
	margin: 0;

	color: #11110d;
	font-family: 'Roboto Condensed', Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	text-transform: uppercase;

	background-color: #ffffff;
}
a{
	text-decoration: none;
}
h2{
	margin: 0;
}
.centr{
	min-width: 1300px;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 0 40px 1px #D6D6D6;
}
.visually-hidden{
	display: none;
}
.main-navigation{ 	
	position: fixed;
	width: 100%;
	max-width: 1600px;
	background-color: #ffffff;
	margin-top: -50px;
	z-index: 10;
	border-radius: 0px 0px 5px 5px;
	border-bottom:1px solid #EEEEEE;
	box-shadow: 0 0 1px 1px #EEEEEE;
}
.main-list {
	margin: 0;
	padding: 0;	
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 50px;

}
.main-header li{
    list-style: none;
}
.main-header li:after{
	content: "";
	position: relative;
	display: block;
	width: 100%;
	height: 1px;
	bottom: -3px;
	opacity:0;
	background-color: #747474;
	transition:all ease-out 0.2s;
}
.main-header li:hover:after,
.main-header li:focus:after{
	opacity: 1;
	bottom:3px;
}
.main-header li:hover a,
.main-header li:focus a{
color: #747474;
}
.main-list a{
	color:#11110d;
	font-size: 20px;
}











main{
	margin-top: 50px;
}
.main-photo{
	background-image: url("../image/2.jpg");
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 600px;
	
}
.main-photo ul{
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	height: 100%;
}
.main-photo li{
	height: 55px;
	width: 34%;
	list-style: none;
	text-align: center;
	background-color: rgba(150, 150, 150, 0.3);
}
.main-photo li:hover,
.main-photo li:focus{
	background-color: #16c0cc;
}
.main-photo a{
	display: inline-block;
	color:#ffffff;
	font-size: 28px;
	margin: 15px 0;
}
.main-description{
	padding: 0px 15%;

}	

.main-description p{
	color: #11110d;
	background-color: #ffffff;

    
    font-size: 25px;
	line-height: 40px;
	text-align: center;
}
.title{
	
    font-size: 25px;
	line-height: 40px;
	text-align: center;
	color: #ffffff;
}
.main-aboutus{
	background-color: #16c0cc;
	color: #ffffff;
	min-height: 260px;

	display: flex;
}
.aboutus-title{
	margin:10px 0;
}
.image-description,
.main-image figure{
	margin: 0;
	height: 100%;
}
.aboutus-desc{
	position: relative;
	
	
	flex:2 1 100px;
}
.aboutus-desc p{
	text-align: center;
	padding: 0 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.main-image{
	flex:3 0 100px;
}
.image-description{
	position: relative;
	overflow: hidden;
}
.image-description img{
	height: 100%;
	width: 100%;
	
}
/*.description-container{
	position: relative;
	margin: 0;
	top:-70px;
}*/
/*.main-pictures{
	display: flex;
	list-style: none;
	padding:0;
	margin:0;
}
.main-pictures-image{
	flex-grow: 1;
}*/
.clearfix:after{
	content: "";
	display: table;
	clear: both;
}


.item-img,
.social{
	background: url("../image/css_sprites.png") no-repeat;
}
.item-1{
	background-position: 41% 0% ;
}
.item-2{
	background-position: 81% 0%;
}
.item-3{
	background-position: 61% 0% ;
}
.item-4{
	background-position: 99% 0%;
}





.facilities{
	background-color:  #ffffff;
	color: #11110d;
}
.facilities-title{
	color: #000000;
}
.item-img{
	background-size: auto 95px;
	display: block;
	width:93px;
	height: 95px;
	margin: 10px auto;
}
.facilities-list{
	display: flex;
	justify-content: space-around;
	padding: 0;
}
.facilities-item{
	flex-shrink: 0;
	list-style: none;
	height: 250px;
	width: 250px;
	border-radius: 50%;
	margin: 10px 10px;
	box-shadow: 0 0 10px 2px #E3E3E3;
	transition: all ease 0.5s;
	margin: 60px 0;
}
.facilities-item:hover{
	box-shadow: 0 0 20px 4px #ACE2E9;
}
.facilities-item p,
.facilities-item h3{
	text-align: center;
	margin: 5px 20px;
}
















.arbors{
	color: #ffffff;
	background-color: #16c0cc;

	display: flex;
	flex-direction: row-reverse;
	min-height: 200px;
}
.arbors-desc p{
	text-align: center;
	height: 62%;
}
.arbors-desc{
	flex: 2 100px;
	position: relative;
}
.arbor-description{
	display: flex;
	overflow: hidden;
	position: absolute;
	height:34%;
	width: 70%;
	left: 100%;
	bottom: 0;
}

.description-container{
	top:0;
	left:0;
	display: flex;
	position: absolute;
	align-items: center;
	height: 70%;
	width:500%;
	transform:translateX(0%);
	transition: all ease 1s;
	top: 47px;
}
.arbors-price{
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-basis: 200px;
	flex-grow: 1;
	height: 85px;
	background-color: #16c0cc;
	border-right: 1px solid white;
}
.arbors-price span{
	margin: 2px 25px;
	
}
.arbors-number{
	position: absolute;
	top:-43%;
	opacity: 0;
	width:200px;
	height: 40px;
	margin-left: 25px;
	transition: all 0.4s ease 0.9s;
}
.price-description{
	height: 95px;
	flex-grow: 1;
	flex-basis: 200px;
	
	transform: translateX(-100%);
	transition: all 0.6s ease 0.7s;
	z-index: -1;
}
.price-description p{
	margin: 7px 10px;
	line-height: 21px;
}
#slide1:checked ~ .arbor-description .number-1,
#slide2:checked ~ .arbor-description .number-2,
#slide3:checked ~ .arbor-description .number-3,
#slide4:checked ~ .arbor-description .number-4,
#slide5:checked ~ .arbor-description .number-5{
	opacity: 1;
}


#slide1:checked ~ .arbor-description .description-arbors-1,
#slide2:checked ~ .arbor-description .description-arbors-2,
#slide3:checked ~ .arbor-description .description-arbors-3,
#slide4:checked ~ .arbor-description .description-arbors-4,
#slide5:checked ~ .arbor-description .description-arbors-5{
	transform:translateX(0%);
	transition-delay: 0.5s;
}
.description-container:hover,
#slide1:checked ~ .arbor-description > .description-container{
	transform:translateX(0%);
}
#slide2:checked ~ .arbor-description > .description-container{
	transform:translateX(-20%);
}

#slide3:checked ~ .arbor-description > .description-container{
	transform:translateX(-40%);
}

#slide4:checked ~ .arbor-description > .description-container{
	transform:translateX(-60%);
}
#slide5:checked ~ .arbor-description > .description-container{
	transform:translateX(-80%);
}






.wrapper-image{
	flex: 3 100px;
	height: 450px;
	width: 100%;
	position: relative;
}
.wrapper-image > input{
	display: none;
}
.slider{
	height: inherit;
	width: inherit;
	position: relative;
	overflow: hidden;
}
.slides{
	height: inherit;
	opacity: 0;
	position: absolute;
	width: inherit;
	z-index: 0;
	
	transition: opacity ease-in-out 1s;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5 {
	opacity: 1;
	z-index: 1;

}
.slide1{
	background: url(../image/besed.jpg) no-repeat 50% 50%;
	background-size: auto 100%;
}
.slide2{
	background: url(../image/besed2.jpg) no-repeat 50% 50%;
	background-size: 100% auto;
}
.slide3{
	background: url(../image/besed3.jpg) no-repeat 50% 20%;
	background-size: 100% auto;
}
.slide4{
	background: url(../image/besed4.jpg) no-repeat 50% 50%;
	background-size: 100% auto;
}
.slide5{
	background: url(../image/besed5.jpg) no-repeat 50% 50%;
	background-size: 100% auto;
}
.wrapper-image .controls {
	left: 122%;
	top: 65%;
	width:250px;
	height: 50px;
	position: absolute;
	text-align: center;
	border-bottom: 1px solid white;
}

.wrapper-image label {
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 25px 12px 0 12px;
	position: relative;
	width: 8px;
	border-radius: 50%;
	transition: background ease-in-out .5s;
}

.wrapper-image label:hover, 
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5) {
	background: white;
}

.wrapper-image label:after {
	border: 2px solid white;
	content: " ";
	display: block;
	height: 12px;
	left: -4px;
	position: absolute;
	top: -4px;
	width: 12px;

	border-radius: 50%;
}

















.services{
	background-color:#ffffff; 
	height: 550px;
}

.services-title{
	color: #000000;
	margin: 0;
}
.services-list{
	padding: 0;
	margin-top: 50px;
	display: flex;
	list-style: none;
	justify-content: space-around;
}
.services-item{
	flex-basis: 300px;
	min-height: 380px;
	
	position: relative;
	border-radius: 7px;
	box-shadow: 0 0px 30px 2px #AAAAAA;
	overflow: hidden;
}
.dws-photo{
	height: 100%;
	transform: scale(1);
	filter:brightness(100%) blur(0px);
	transition: all ease 0.5s;
	border-radius: 7px;
}
.dws-photo-1{
	background: url(../image/услуги1.jpg) no-repeat 50% 50%;
	background-size: auto 100%;
}
.dws-photo-2{
	background: url(../image/услуги3.jpg) no-repeat 50% 50%;
	background-size: auto 100%;
}
.dws-photo-3{
	background: url(../image/услуги2.jpg) no-repeat 50% 50%;
	background-size: auto 100%;
}
.dws-photo-4{
	background: url(../image/c1.jpg) no-repeat 50% 50%;
	background-size: auto 100%;
}
.services-item:hover .dws-photo,
.services-item:active .dws-photo{
	filter: brightness(60%) blur(2px);
	transform: scale(1.05);
}
.dws-text{
	top:0;
	position: absolute;
	opacity: 0;
	color: #ffffff;
	width: 100%;
	transform: translateY(5px);
	transition: all ease 0.5s;
	width: 100%;
}
.services-item:hover .dws-text,
.services-item:active .dws-text{
	opacity: 1;
	transform: translateY(0px);
}
.dws-text{
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
}
.dws-text h3{
	font-size: 25px;
	text-align: center;
	border-bottom: 1px solid white;
	line-height: 30px;
}
.dws-text p{
	margin:0;
	padding: 0px 15px;
	text-align: center;
}









.contacts{
	background-color: #d9d9d9;
	color: #11110d;
}
.contacts p{
	margin:0;
}
.contacts-title{
	color:#11110d;
}
.contacts-container{
	width: 100%;
	height: 300px;
}
.contact-information{
	float: left;
	width: 45%;
	margin: 20px 25px;
	padding: 0 5px;
	height: 175px;
	line-height: 43px;
}
.contact-information p{
	border-bottom: 1px solid #999999;
		
}

.route{
	
	border-bottom: 1px solid #999999;

	float: right;
	width: 45%;
	margin: 20px 25px;
	padding: 0 5px;
	height: 175px;
}
.route-title{
	line-height: 20px;
	margin:7px 0 10px 0;
}










.main-footer{
	background-color: #525252;
	color: #ffffff;
}
.footer-social{
	background-color: #242424;
	color: #ffffff;
}
.footer-social{
    text-align: center;
	min-height: 75px;
}
.footer-contacts{
	margin-left: 25px;
}
.social-list{
	list-style: none;
	padding: 0;
	width: 140px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 30px;
}

.social{
	font-size: 0px;
	display: inline-block;
	width: 40px;
	height: 40px;
	background-size:auto 195%;
}	

.social-inst{
	background-position: 19% 0%;
}
.social-fb{
	background-position: 10% 0%;
}

.social-list li{
	filter: drop-shadow( 0px 0px 0px #16c0cc);
	transform: scale(1);
	transition: all ease-out 0.3s;
}
.social-list li:nth-child(1):hover{
	filter: drop-shadow( 0px 0px 2px #597da3);
	transform: scale(1.05);
}
.social-list li:nth-child(2):hover{
	filter: drop-shadow( 0px 0px 2px #FF4100);
	transform: scale(1.05);
}
.social-list li:nth-child(3):hover{
	filter: drop-shadow( 0px 0px 2px #3a5998);
	transform: scale(1.05);
}

